openai
langchain
langchain-openai
langchain-community
langchain-experimental
langgraph
langserve[all]
langchain-cli
botbuilder-integration-aiohttp>=4.14.4
tiktoken
tenacity
sqlalchemy
pyodbc
tabulate
python-dotenv
pydantic==1.10.13
fastapi
uvicorn
slack_sdk
slack_bolt